<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApQOfS61Twc1-X3LiyhUvbyzH8zilMBnI&callback=myMap">
</script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-Navigation bar-!>
    <nav class="navbar navbar-inverse navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bolg Application</a>
        </div>
        <ul class="nav navbar-nav">
          <li>
          <% if user_signed_in? %>
            <a href="/articles"><span class="glyphicon glyphicon-user"></span> Home</a>
          <% else %>
            <a href="#"><span class="glyphicon glyphicon-home"></span> Home</a>
          <% end %>
          </li>
          <li>
            <% if user_signed_in? %>
              <%= form_for search_search_path, :url => { :controller => :search, :action => :search }, method: :get do |f| %>
                <p>
                  <span class="glyphicon glyphicon-search"></span>
                  <%= text_field_tag :query, params[:query], placeholder: "Search for articles", required: true, id: "searchText" %>
                  <%= submit_tag "Go", name: nil, :class => "btnComment" %>
                </p>
              <% end %>
            <% end %>
          </li>
        </ul>       
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %><h4>
            <li>
              <div class="status">
                <p><span class="glyphicon glyphicon-user"> <%= current_user.name %> |
                  <span class="glyphicon glyphicon-log-out">
                 <%= link_to 'Logout', destroy_user_session_path, class: 'btnlink', method: :delete %></span>
                </p>
              </div>
            </li>
          <% else %>
              <li>
                <a href="/users/sign_up"><span class="glyphicon glyphicon-user"> SignUp |</span></a>
              </li>
              <li>
                <a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"> Login</span></a>
              </li></h4>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-left panel-!>
    <div class="section">
      <div class="left-panel align-panel">
        <% if user_signed_in? %>
          <h3><i><u>Profile details :</u></i></h3>
          </br>
          <div>
            <%= image_tag current_user.avatar.url(:medium), :class => 'img-circle' %>
          </div>
          </br>
          <u>User Name:</u></br>
          <div class="profileContent glyphicon glyphicon-user">
            <%= current_user.name %>
          </div>
          </br>
          <u>Email Id:</u></br>
          <div class="profileContent glyphicon glyphicon-envelope">
            <%= current_user.email %>
          </div>
          </br>
          </br>
          <div class="glyphicon glyphicon-pencil profileContent">
            <%= link_to 'Edit Profile ', edit_user_registration_path, class: 'btnlink' %>
          </div>
          </br></br>
          <div class="glyphicon glyphicon-hand-right profileContent">
          <%= link_to "Make Friends", friendships_path, class: 'btnlink' %>
          </div>
          </br>
          </br>
          <div class="glyphicon glyphicon-hand-right profileContent">
          <%= link_to "My Friends", { :controller => "friendships", :action => "show", :id => current_user }, class: 'btnlink' %>
          </div>
        <% else %>
          <h3><i>Welcome to blog application</i></h3>
        <%  end %>
      </div>
    <!-middle panel-!>
      <div class="middle-panel align-panel">
        <div class="noticeMsg" id="notice">
          <% flash.each do |key,value| %>
            <% if value != true %>
              <p><%= value %></p>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= yield %>
        </div>
      </div>
      <!-right panel-!>
        <div class="right-panel align-panel">
          <div>
            <h3><i><u>Advertisements :</u></i></h3></br>
            <div id="map"></div>
          </div>    
        </div>
    </div>
    <div class="customFooter">
      <div class="text-center">
          <div class="fa fa-facebook-square">
          </div>
          <div class="fa fa-github-square">
          </div> 
          <div class="fa fa-google-plus-square">
          </div> 
          <div class="fa fa-linkedin-square">
          </div> 
          <div class="fa fa-twitter-square">
          </div>       
      </div>
    </div>
  </body>
</html>
